:root {
  --blue: rgba(0, 118, 188, 1);
  --turqu: rgba(0, 188, 216, 1);
  --grey: rgba(85, 90, 91, 1);
  --turqu-trans: rgba(0, 188, 216, .65);
  --eggshell: rgba(250, 243, 221, 1);
  --eggshell-semi-trans: rgba(250, 243, 221, .8);
  --eggshell-trans: rgba(250, 243, 221, .65);
  --whiteSmoke: rgba(244, 245, 245, .85);
  --red: rgba(163, 0, 0, 1);
  --black: rgba(30, 31, 32, 1);
  --shadow: rgba(30, 31, 32, .65)
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  min-width: 775px;
}

body {
  background-size: 100vw 100vh;
  background-image: radial-gradient(180% 110% at top right, var(--turqu) 40%, var(--blue));
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* ---- Start welcome msg ---- */

#welcome-msg {
  padding: 2rem;
}

#welcome-msg h2 {
  font-size: 3rem;
}

#welcome-msg p {
  font-size: 1.8rem;
}

/* ---- End welcome msg ---- */
/* ---- Start Header ---- */

header {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

header h1 {
  width: 100%;
  font-size: 4rem;
  text-align: left;
  margin-left: 2rem;
}

#controls-container:not(.hidden) {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: .1rem;
  border-bottom: 2px solid var(--black)
}

#controls-container button {
  background: linear-gradient(var(--eggshell-trans));
  border-radius: 3px 3px 0 0 ;
  border: .1rem solid var(--color4);
  box-shadow: 0 0 .25rem var(--color4);
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.8rem;
  height: 3rem;
  transition: 100ms;
}

#controls-container button:not(.danger) {
  width: 100%
}

button span {
  white-space: nowrap;
}

.btn.danger {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.btn-span.add::before {
  content: "+ ";
  font-size: 120%;
  line-height: 100%;
}

.btn-span.hide::before {
  content: "- ";
  font-size: 120%;
  line-height: 100%;
}

#controls-container button:hover {
  transform: scaleY(1.1);
  translate: 0 -.3rem;
  background: var(--eggshell);
  border-radius: .8rem .8rem 0 0;
  box-shadow: 0 0 3px var(--shadow);
}

#controls-container button.danger:hover {
  background: var(--red);
  color: var(--eggshell);
}

/* ---- End Header ---- */
/* ---- Start Forms ---- */

form {
  background: var(--whiteSmoke);
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1rem 0 3.5rem 0;
  font-size: 2rem;
}

fieldset {
  border: none;
}

ul {
  list-style: none;
  margin: 1rem 0 1rem 1rem;
}

li {
  margin-left: 3rem;
}

input, 
select, 
textarea {
  background: white;
  border: 1px solid var(--black);
  border-radius: 2px;
  font-size: 1.8rem;
  vertical-align: middle;
}

input, select, textarea, fieldset span, label {
  margin: .8rem 0 .8rem 0;
  vertical-align: middle;
  padding: .25rem;
}

form label {
  margin-left: 2rem;
}

label, fieldset span {
  line-height: 2.8rem;
}

input[type="radio"] {
  appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  line-height: 2rem;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--black);
  margin: 0 1rem .3rem 5rem;
  transition: 100ms;
}

input[type="radio"]:first-of-type {
  margin-left: 1rem;
}

input[type="radio"]:checked {
  border: .5rem solid var(--turqu);
}

form h3 {
  text-align: center;
  margin-bottom: 2rem;
  text-decoration: underline;
  font-size: 1.8rem;
}

.btn-container { 
  margin: 2rem 1rem 0;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  border-top: 1px solid var(--black);
  padding-top: 1.5rem;
}

.btn-container button {
  padding: .5rem 2rem;
  font-size: 1.8rem;
  background: var(--turqu);
  border: 1px solid var(--black);
  border-radius: 4px;
  box-shadow: -1px 1px 2px var(--shadow);
  transition: 100ms;
}

.btn-container button:hover {
  transform: scale(1.01);
  translate: 0 -2px;
  box-shadow: -1px 1px 5px var(--shadow);
}

textarea {
  font-size: 1.8rem;
  padding: .3rem;
  height: 6rem;
  width: 50rem;
}

.split-btn, .add-btn {
  font-size: 1.8rem;
  padding: .25rem 1rem .25rem 1rem;
  margin: .8rem 0 .8rem 1rem;
  background: var(--turqu);
  border-radius: 5px;
  color: var(--black);
  border: none;
  box-shadow: 0 0 2px var(--black);
  transition: 100ms;
  vertical-align: middle;
}

.split-btn:hover, .add-btn:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 3px var(--black)
}

#transaction-notes-container {
  margin-top: 1rem;
}

.del-btn {
  color: var(--red);
  font-family: "Permanent Marker", cursive;
  font-size: 1.8rem;
  font-weight: bold;
  background: none;
  border: none;
  vertical-align: middle;
  text-align: center;
  margin-top: .4rem;
  margin-left: .5rem;
  transition: 100ms;
}

.del-btn:hover {
  transform: scale(1.2)
}

/* ---- End Forms ---- */
/* ---- Start Table ---- */

#table-container {
  margin: 3vh 3vw;
  border-radius: 5px;
  background: var(--eggshell-semi-trans);
  padding: 2rem;
  box-shadow: 0 0 5px var(--shadow);
}

table {
  width: 100%;
  font-size: 1.8rem;
  border-collapse: collapse;
  margin: auto auto;
}

th {
  padding: 0 1rem 1rem;
  text-align: left;
  font-size: 2.5rem;
  border-bottom: 3px solid var(--black)
}

#monthly-average-header, #notes-header {
  font-size: 2rem;
}

td {
  text-align: left;
  vertical-align: middle;
  padding: .25rem 1rem;
}

tbody:not(:last-of-type) {
  border-bottom: 2px solid var(--black);
}

tbody tr:first-of-type td {
  padding-top: 1rem;
}

tbody tr:last-of-type td {
  padding-bottom: 1rem;
}

.split-row {
  font-style: italic;
  font-size: 1.5rem;
}

.split-row td {
  padding-left: 2rem;
}

.currency {
  font-weight: bold;
}

.currency:not(.deposit) {
  color: var(--red)
}

.currency:not(.deposit)::before {
  content: "("
}

.currency:not(.deposit)::after {
  content: ")"
}

.split-category {
  border-bottom: 1px solid var(--black)
}

.transaction-balance {
  text-align: right;
}

.transaction-balance.negative {
  color: var(--red)
}

.transaction-notes {
  font-size: 1.5rem;
}

/* ---- End Table ---- */
/* ---- Start User Message ---- */

#user-msg-container {
  position: relative;
  margin: 2rem;
  font-size: 1.5rem;
  padding: 1.5rem;
  background: var(--whiteSmoke);
  border-radius: 5px;
  box-shadow: 0 0 3px var(--shadow);
}

.dismiss-btn {
  padding: .5rem 2rem;
  margin-top: 1.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: var(--red);
  color: var(--whiteSmoke);
  transition: 100ms;
  border-radius: 5px;
  border: none;
  box-shadow: -2px 2px 3px var(--shadow);
}

.dismiss-btn:hover {
  transform: scale(1.05);
  box-shadow: -2px 2px 5px var(--shadow);
}

/* ---- End User Message ---- */


@media only screen and (max-width < 1075px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (width < 975px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (width < 875px) {
  html {
    font-size: 7px;
  }
}

@media only screen and (width < 775px) {
  html {
    font-size: 6px;
  }
}

.hidden {
  display: none;
}