*, 
::before, 
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  scroll-snap-align: start;
}

h1 {
  font-size: 12rem;
  position: absolute;
  top: 0;
}

p {
  font-size: 4rem;
  position: absolute;
  top: 16rem;
}

/* -----  Start Challenge #1 - flashing background  --------- */

:root {
  --backgroundColor1: rgb(191, 225, 0);
  --backgroundColor2: rgb(0, 225, 0);
}

.challenge1 {
  background: var(--backgroundColor1);
  animation: colorFlash 1s linear infinite;
}

@keyframes colorFlash {
  0% {
    background-color: var(--backgroundColor1);
  }
  10% {
    background-color: var(--backgroundColor2);
  }
  15% {
    background-color: var(--backgroundColor1);
  }
  55% {
    background-color: var(--backgroundColor2);
  }
  65% {
    background-color: var(--backgroundColor1);
  }  
  90% {
    background-color: var(--backgroundColor2);
  }
}

/* -----  End Challenge #1 - flashing background  --------- */
/* -----  Start Challenge #2 - scrolling text --------------- */

:root {
  --text-width: 350px;
  --scroll-time: 6s;
}

.challenge2 div {
  position: absolute;
  display: block;
  top: calc(50% - calc(7rem / 2));
  left: 100vw;
  font-size: 7rem;
  width: var(--text-width);
  animation: scroll var(--scroll-time) linear infinite;
}

.challenge2 div:first-of-type {
  animation-delay: calc(var(--scroll-time) / 5);
}

.challenge2 div:nth-of-type(2) {
  animation-delay: calc(calc(var(--scroll-time) / 5) * 2);
}

.challenge2 div:nth-of-type(3) {
  animation-delay: calc(calc(var(--scroll-time) / 5) * 3);
}

.challenge2 div:nth-of-type(4) {
  animation-delay: calc(calc(var(--scroll-time) / 5) * 4);
}

.challenge2 div:nth-of-type(5) {
  animation-delay: calc(calc(var(--scroll-time) / 5) * 5);
}

@keyframes scroll {
  /* ---- NOTE: the animation is a pre-determined width of pixels so that on any screen width, it looks the same ---------- */
  100% {
    transform: translate(calc(-2560px - var(--text-width)));
  }
}

/* -----  End Challenge #2 - scrolling text --------------- */
/* -----  Start Challenge #3 - rotating sphere with text ------- */

.challenge3 {
  background: rgb(5, 5, 201);
}

.challenge3 h1 {
  position: absolute;
  top: 0;
}

.challenge3 #sphere-container {
  background: rgb(238, 223, 1);
  height: 400px;
  width: 400px;
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 150px);
  border-radius: 50%;
  border: 4px solid black;
}

.challenge3 .sphere {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  animation: rotateSphere 15000ms linear infinite;
  transform-style: preserve-3d;
}

.challenge3 .circle {
  position: absolute;
  border: 2px solid black;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: rgb(238, 223, 1);
}

.challenge3 .light {
  position: absolute;
  top: 75%;
  left: -1%;
  height: 200px;
  width: 350px;
  border-radius: 50%;
  background: rgba(50, 50, 50, .8);
  box-shadow: -15px 50px 100px rgb(234, 239, 166);
  transform: rotateX(60deg) rotateZ(5deg);
  transform-style: preserve-3d;
}

@keyframes rotateSphere {
  30% {
    transform: rotateX(100deg) rotateY(100deg) rotateZ(0deg);
  }
  70% {
    transform: rotateX(-180deg) rotateY(-180deg) rotateZ(100deg);
  }
  100% {
    transform: rotateX(-360deg) rotateY(-360deg) rotateZ(-360deg);
  }
}

/* -----  End Challenge #3 - rotating sphere with text ------- */